@model List<AI.StoreOperations.Model.Transaction>
@{
    ViewData["Title"] = "Transaction Details";

    var distinctChannels = Model.Select(p => p.Channel).Distinct().ToList();
    var distinctCategories = Model.Select(p => p.Category).Distinct().ToList();
}
<section>
    <input type="hidden" id="prdList" name="prdList" />
    <h1>Transaction Details</h1>
    <div class="parameters">


        <p>Select the Channel to see the corresponding transactions:</p>
        <label for="channel">Channel:</label>
        <select id="channel">
            <option value="">Select Channel</option>
            @foreach (var item in distinctChannels)
            {
                <option value="@item">@item</option>
            }
        </select>
        <!-- Display result message -->
        <div id="result">
            <div id="loadingId" style="text-align:center">
                <img src="~/images/loader.gif" />
            </div>
        </div>
        <input type="submit" id="btnTransaction" value="Get Transaction">

    </div>
    <br />
    <div class="parameters">
        <p><b>Transaction Report</b></p>
        <div id="div-output">
            <!-- The grid will be populated by jQuery -->

        </div>
        <div id="div-result" >
            <!-- The grid will be populated by jQuery -->

        </div>
    </div>
</section>
